{% extends "base.html" %}

{% block title %}Quên tài khoản{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Card cho Form Password Reset -->
    <div class="card mt-3">
        <div class="card-body">
            {% if email_sent %}
                <p>Đã gửi email tới địa chỉ bạn cung cấp. Vui lòng nhấp kiểm tra email để tạo lại mật khẩu.</a>.</p>
            {% else %}
                <!-- Form Fields -->
                <form method="post">  
                    {% csrf_token %}                 
                    <p3>Quên mật khẩu</p3>        
                    <!-- Email Input -->
                    <div class="form-group">
                        <label for="Email">Vui lòng nhập email tài khoản</label>
                        <input type="email" class="form-control" id="emailInput" name="email" placeholder="Nhập email" required>
                    </div>
            
                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary">Gửi mã</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
