{% extends "base.html" %}
{% load i18n static %}

{% block title %}
Tạo mật khẩu mới
{% endblock %}

{% block content %}
    {% if validlink %}
    <div class="container mt-5">
        <div class="card mt-3">
          <div class="card-body">
                <!-- Form Fields -->
                <form method="post">
                {% csrf_token %}
                <p3>Tạo mật khẩu mới</p3>     
      
                <!-- New Password Input -->
                <div class="form-group">
                    <label for="newPassword">Mật khẩu mới</label>
                    <input type="password" class="form-control" id="newPassword" name="new_password1" placeholder="Nhập mật khẩu mới" required>
                   
                </div>
      
                <!-- Confirm Password Input -->
                <div class="form-group">
                    <label for="confirmPassword">Nhập lại mật khẩu mới</label>
                    <input type="password" class="form-control" id="confirmPassword" name="new_password2" placeholder="Nhập lại mật khẩu mới" required>
                </div>      
      
                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary">Tạo mật khẩu mới</button>
              </form>
            </div>
        </div>
    </div>




    {% else %}
        <div class="container block_center reset_password">
            <h2>Reset password</h2>
            <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        </div>

    {% endif %}
{% endblock %}


