{% extends "base.html" %}
{% load static %}


{% block title %}
Đổi mật khẩu
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container mt-5">
    <!-- Card cho Form Đăng nhập -->
    <div class="card mt-3">
        <div class="card-body">
            {% if password_changed %}
            <div class="alert alert-success">
                Mật khẩu của bạn đã được thay đổi thành công. Bạn sẽ được chuyển về trang chính sau <span id="countdown">5</span> giây.
            </div>
            <script>
                // Khởi tạo thời gian đếm ngược
                var countdownElement = document.getElementById('countdown');
                var countdown = 5;

                // Cập nhật thời gian đếm ngược mỗi giây
                var countdownInterval = setInterval(function() {
                    countdown--;
                    countdownElement.textContent = countdown;

                    // Khi thời gian đếm ngược bằng 0, chuyển hướng
                    if (countdown <= 0) {
                        clearInterval(countdownInterval);
                        window.location.href = "{% url 'home' %}";
                    }
                }, 1000);
            </script>
            {% else %}
            <!-- Form Fields -->
            <div class="error" id="error-container">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li class="text-danger">{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            <form method="post">
                {% csrf_token %}
                <!-- Old Password Input -->
                <h3>Thay đổi mật khẩu</h3>

                <div class="form-group">
                    <label for="oldPassword">Mật khẩu cũ</label>
                    <input type="password" class="form-control" id="oldPassword" name="old_password" placeholder="Nhập mật khẩu cũ" required>
                </div>
    
                <!-- New Password Input -->
                <div class="form-group">
                    <label for="newPassword">Mật khẩu mới</label>
                    <input type="password" class="form-control" id="newPassword" name="new_password1" placeholder="Nhập mật khẩu mới" required>
                </div>
                <div class="help" id="id_new_password1_helptext">
                    <ul>
                        <li>Mật khẩu của bạn không thể quá giống với thông tin cá nhân khác của bạn.</li>
                        <li>Mật khẩu của bạn phải chứa ít nhất 8 ký tự.</li>
                        <li>Mật khẩu của bạn không thể là một mật khẩu phổ biến.</li>
                        <li>Mật khẩu của bạn không thể hoàn toàn là số.</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Nhập lại mật khẩu mới</label>
                    <input type="password" class="form-control" id="confirmPassword" name="new_password2" placeholder="Nhập lại mật khẩu mới" required>
                </div>
    
    
                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary">Tạo mật khẩu mới</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}